@media (max-width: 526px) {
  .right_content {
    background-color: white;
    position: absolute;
    right: 4%;
    top: 80%;
    z-index: 20;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }
  .show_nav {
    height: auto;
  }
  .right_content ul {
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
  }
  .right_content ul li a {
    color: black !important;
  }
  .right_content ul li a:hover::after {
    background-color: var(--darker);
  }
  .top_navigation {
    position: relative;
    z-index: 0;
  }
  .menu {
    display: inline-block;
    cursor: pointer;

    i {
      font-size: 20px;
    }
  }
  .left_content {
    width: 100%;
  }
  .main-content {
    padding-top: 0 !important;
  }
}

@media (max-width: 768px) {
  .goals-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 787px) {
  .intro_section {
    flex-direction: column;
  }
}
@media (max-width: 368px) {
  #my_goals {
    padding: 10px;
  }
}

@media (max-width: 1106px) {
  .footer_links a,
  .footer_links p {
    font-size: 14px;
  }
}
@media (max-width: 980px) {
  .footer_links a,
  .footer_links p {
    font-size: 12px;
  }
}
@media (max-width: 869px) {
  .footer_links {
    flex-direction: column;
    align-items: center;

    a {
      font-size: 17px !important;
    }
  }
  .footer_links p {
    font-size: 17px;
  }
}
@media (max-width: 544px) {
  .time {
    flex-direction: column;
  }
}
@media (max-width: 388px) {
  .heading_description {
    font-size: 18px;
  }
  .greetings {
    font-size: 37px;
  }
}
